/* Body Content Style  ********************/
body {
    min-height: 100vh;
    width: 100%;
    min-width: 370px;
    background-color: var(--color-background-body);
}

/* Main Style ********************/

.quiz__alert {
    position: fixed;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-alert);
    color: var(--color-text-white);
    padding: 10px 20px;
    border-radius: var(--border-radius-base);
    opacity: 0;
    transition: opacity 0.3s;
}

.quiz__alert.visible {
    opacity: 1;
}

.quiz {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Section Style ********************/
.quiz__section {
    max-width: 500px;
    min-width: 350px;
    width: 100%;
    height: 70%;
    background-color: var(--color-background-section);
    color: var(--color-text-white);
    border-radius: var(--border-radius-base);
    padding: var(--spacing-medium);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quiz__button {
    background-color: var(--color-button-active);
    border: none;
    border-radius: var(--border-radius-base);
    color: var(--color-text-white);
    font-size: var(--font-size-base);
    padding: var(--spacing-base) var(--spacing-large);
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s linear;
}

.quiz__button:hover {
    background-color: var(--color-button-hover);
}

/* Start Screen Section Style ********************/

.quiz__title {
    font-size: var(--font-size-xxlarge);
}

.quiz__description {
    font-size: var(--font-size-medium);
}

/* Question Section Style ********************/

.quiz__progress-indicator {
    color: var(--color-progress-indicator);
    font-size: var(--font-size-xlarge);
}

.quiz__current-question {
    color: var(--color-progress-indicator-active);
    font-family: var(--font-family-bold)
}

.quiz__question-text {
    font-size: var(--font-size-medium);
    text-align: center;
}

.quiz__answer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
}

.quiz__answer {
    width: 100%;
    font-size: var(--font-size-base);
    padding: var(--spacing-base) var(--spacing-large);
    background: none;
    border-radius: var(--border-radius-base);
    color: var(--color-text-white);
    border-style: none;
    border: 2px solid var(--color-button-border-inactive);
    cursor: pointer;
    transition: border-color, background-color 0.3s linear;
}

.quiz__answer:hover {
    background-color: var(--color-button-background-hover);
}

/* Score Screen Section Style ********************/
.quiz__score-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.quiz__score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.quiz__score-label {
    font-size: var(--font-size-xlarge);
    color: var(--color-progress-indicator);
}

.quiz__score-item {
    font-size: var(--font-size-xlarge);
    color: var(--color-progress-indicator);
}

.quiz__final-content {
    font-family: var(--font-family-bold);
    color: var(--color-progress-indicator-active);
}

.quiz__button--review {
    margin-bottom: var(--spacing-small);
}

/* End Screen Section Style ********************/

.quiz__review-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.quiz__review-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz__review-label {
    font-size: var(--font-size-xlarge);
    color: var(--color-progress-indicator);
    margin: var(--spacing-medium);
}

.quiz__review-content {
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    width: 100%;
}

.quiz__review-content--incorect {
    color: var(--color-review-content--incorect);
}

.quiz__review-content--correct {
    color: var(--color-review-content--correct);
}

.active {
    border-color: var(--color-button-border-active);
}

.quiz__review-list::-webkit-scrollbar {
    display: none;
}

.quiz__section.hidden {
    display: none;
}

/* Styles for mobile devices and small screens **********/
@media screen and (max-width: 500px) {
    section {
        min-height: 100vh;
    }
}